@import 'colors';

body {
  letter-spacing: 1px;
}
.weather-form {
  margin: 0 auto;
  width: 500px;
  border-radius: 10px;
  background: white;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  .form-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-size: 20px;
    font-weight: bold;
    background: $orange;
    border-radius: 10px 10px 0 0;
    color: #fff;
  }
  input {
    font-size: .875rem;
    font-family: 'Raleway', sans-serif;
    padding: 5px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
  }
  div {
    display: flex;
    justify-content: space-around;
    padding: 20px 20px 10px 20px;
    label {
      width: 35%;
      margin: 0 0 0 15px;
      padding: 5px 5px 5px 15px;
      color: #576366;
      font-size: 14px;
      line-height: 1.8rem;
    }
    input[type="text"]{
      width: 65%;
      margin: 0 25px 0 15px;
      height: 35px;
      background: #e8ebed;
      color: #576366;
    }
  }
  footer{
    margin: 0 45px;
    padding: 15px 10px 25px 10px;
    text-align: center;
    border-top: 2px solid #e8ebed;
    input[type="submit"]{
      display: inline-block;
      cursor: pointer; 
      width: 60%;
      height: 40px;
      background: $orange;
      color: #fff;
      line-height: 1rem;
      &:hover {
        background: $hover-orange;
      }
    }
  }
}

